:root {
  --dark-purple: #635FC7;
  --light-purple: #A8A4FF;
  --white: #FFFFFF;
  --light-grey1: #F4F7FD;
  --light-grey2: #E4EBFA;
  --medium-grey: #828FA3;
  --dark-grey1: #3E3F4E;
  --dark-grey2: #2B2C37;
  --dark-grey3: #20212C;
  --black: #000112;
  --dark-red: #EA5555;
  --light-red: #FF9898;

  --main-font: 'Plus Jakarta Sans', sans-serif;

  --h1-size: 24px;
  --h2-size: 18px;
  --h3-size: 15px;
  --h4-size: 12px;
  --p-size: 13px;
  --subp-size: 12px;

  --h1-line: 30px;
  --h2-line: 23px;
  --h3-line: 19px;
  --h4-line: 15px;
  --p-line: 23px;
  --subp-line: 15px;

  --h4-spacing: 2.4px;
}

* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

body {
  margin: 0;
  font-family: var(--main-font);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line);
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
}

h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line);
}

h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line);
  letter-spacing: var(--h4-spacing);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-line);
}

/* COMMON STYLES */

.button {
  padding: 1em 1em;
  background-color: var(--dark-purple);
  color: var(--white);
  border-radius: 2em;
  font-family: var(--main-font);
  border: none;
  cursor: pointer;
}